*{
    margin: 0 auto;
    padding: 0 auto ;
    box-sizing: border-box;
}

.Nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.Nav-container .logo{
    width: 139px;
    height: 60px;

}

.Nav-container .menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;

}
.Nav-container .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.Early-access-btn:hover{
    background-color:rgb(0, 68, 255);
}

.Early-access-btn{
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    cursor: pointer;
}


/* Hero Section css start here */
.hero-section{
    color: #ffffff;
    padding: 60px 20px;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.hero-section h1{
    margin: 25.5px 120px auto 120px;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 22px;

}
.hero-section p{
    max-width: 800px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
}
.blue-miya{
    color: #30B868;
}


.hero-section .Hero-buton{
    margin-top: 32px;
    padding-bottom: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.hero-section .second-button{
    color: #ffffff ;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 12.5px 16px;
    cursor: pointer;
}
.hero-section .second-button:hover{
background-color:rgb(0, 68, 255);}

/* Card Section CSS Start Here */